<header>
  <div class="banner-wrapper">
    <div class="col-sm-12 banner-wrapper">
      <h6 class="banner-header"><a href="#" data-bs-toggle="modal" data-bs-target="#scheduleModal">Get Free Estimate</a></h6>
    </div>
  </div>

  <nav id="header" class="navbar navbar-expand-md justify-content-center navbar-light bg-light home">
    <div class="container">

      <div class="mbl-nav-wrapper">
        <!-- //TODO: Get the logo url hosted elsewhere. -->
        <a class="navbar-brand" href="/" title="Swim Studs" rel="home">
          <img src="/wp-content/themes/garageup/images/Logo Transparent.png" alt="Swim Studs" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>

      <div id="navbar" class="collapse navbar-collapse">
        <ul id="menu-main-menu-new" class="navbar-nav">
          <!-- Left Part of the Menu -->
          <ul id="menu-main-menu" class="navbar-nav left-menu">
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-66"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children nav-item menu-item-66 dropdown">
              <a title="Services" href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle" aria-expanded="false">Services <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-349"
                  class="menu-item menu-item-type-post_type menu-item-object-resi_service menu-item-349">
                  <a title="Weekly Service" href="/services/weekly-service/" class="dropdown-item">Weekly Service</a>
                </li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-348"
                  class="menu-item menu-item-type-post_type menu-item-object-resi_service menu-item-348">
                  <a title="Chemical Balancing" href="/services/weekly-service/" class="dropdown-item">Chemical Balancing</a>
                </li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-347"
                  class="menu-item menu-item-type-post_type menu-item-object-resi_service menu-item-347">
                  <a title="Filter Cleaning" href="/services/weekly-service/" class="dropdown-item">Filter Cleaning</a>
                </li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-345"
                  class="menu-item menu-item-type-post_type menu-item-object-resi_service menu-item-345">
                  <a title="Green Pool Cleanup" href="/services/weekly-service/" class="dropdown-item">Green Pool Cleanup</a>
                </li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-346"
                  class="menu-item menu-item-type-post_type menu-item-object-resi_service menu-item-346">
                  <a title="Equipment Repairs" href="/services/weekly-service/" class="dropdown-item">Equipment Repairs</a>
                </li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-350"
                  class="menu-item menu-item-type-post_type menu-item-object-resi_service menu-item-350">
                  <a title="Pump &amp; Heater Service" href="/services/weekly-service/" class="dropdown-item">Pump &amp; Heater Service</a>
                </li>
              </ul>
            </li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-69"
              class="menu-item menu-item-type-custom menu-item-object-custom nav-item menu-item-69"><a title="Blog" href="/blog" class="nav-link">Blog</a>
            </li>
          </ul>

          <!-- Right Part of the Menu -->
          <ul id="menu-main-menu-1" class="navbar-nav right-menu">
            <ul role="menu" class="dropdown-menu"></ul>
            <ul role="menu" class="dropdown-menu"></ul>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-65"
              class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-65"><a title="About Us" href="/about-us" class="nav-link">About Us</a></li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-64"
              class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-64"><a title="Contact Us" href="/contact-us" class="nav-link">Contact Us</a></li>
          </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /#header -->

</header>
